*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    /* text-align: center; */
    padding-top: 20px;
}
.parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: antiquewhite;
}
.calculator{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(55, 47, 47);
    /* width: ; */
}
.buttons{
    display: flex;
    justify-content: space-evenly;
}
button{
    font-size: 48px;
}